/* orders section */
.orders{
    display: none;
}

.order {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.details {
    background-color: white;
    border-radius: 35px;
    width: 95%;
    height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #707c97;
    padding: 15px;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.btn-container {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
}

.acceptBtn {
    transform: rotate(270deg);
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(97deg, #C4D9B0 0%, #458C3A 46%);
    font-size: 18px;
    color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
}

.toggle .details {
    transform: translateX(-30%);
}

.toggle .btn-container {
    transform: translateX(20px);
}

/* devide the order into 3 parts */

.top-container,
.mid-container,
.bottom-container {
    flex: 1;
}

/* first part */

.name {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: #293340;
}

.user {
    width: 35px;
    border-radius: 100%;
    margin-right: 10px;
}

/* second & third part */

.mid-container {
    padding: 0 25px;
    justify-content: space-evenly;
}

.bottom-container {
    justify-content: center;
}

.fa-arrow-left {
    margin: 0 15px;
}

/* responsive */

@media screen and (min-width: 768px) {
    .details {
        width: 52%;
        padding: 15px;
    }
    .mid-container {
        padding: 0 0;
    }
    .user {
        width: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .details {
        width: 30%;
        padding: 15px;
    }
    .mid-container {
        padding: 0 0;
    }
    .user {
        width: 40px;
    }
}
