* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* exit */

.fa-angle-left {
    color: #2E5931;
    font-size: 30px;
}


/* Nav bar */

.top-bar {
    background-color: #c4d9b0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.bars,
.exit-left,
.page-title,
.logo-container {
    flex: 1;
}

.bars {
    color: #f2f2f2;
    font-size: 24px;
}

.fa-bars {
    font-size: 24px;
    background-color: #c4d9b0;
    color: #f2f2f2;
}

.Logo {
    width: 60px;
    height: 60px;
    float: right;
}

.bars {
    color: #f2f2f2;
    font-size: 24px;
}


/* Side menu*/

.side_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.side_menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.side_menu a {
    padding: 8px;
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side_menu a:hover,
.side_menu a:focus {
    color: #f1f1f1;
}

.side_menu .closebtn {
    position: absolute;
    right: 20px;
    font-size: 60px;
}


/*---*/

.page-title h3 {
    color: #2e5931;
    text-align: center;
}

.top-container,
.mid-container,
.bottom-container {
    display: flex;
    align-items: center;
}


/* footer */

.footer {
    background-color: #293340;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

.copyright {
    font-size: 14px;
    color: #f2f2f2;
}