* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f2f2f2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.loader {
  border: 16px solid #d1d1d1;
  /* Light grey */
  border-top: 16px solid #5a9851;
  /* green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* exit */
.fa-angle-left {
  color: #2E5931;
  font-size: 30px;
}

/* Nav bar */
.top-bar {
  background-color: #c4d9b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.bars,
.exit-left,
.page-title,
.logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bars {
  color: #f2f2f2;
  font-size: 24px;
  cursor: pointer;
}

.fa-bars {
  font-size: 24px;
  background-color: #c4d9b0;
  color: #f2f2f2;
}

.fa-angle-left {
  font-size: 30px;
}

.form,
.mid-container,
.input,
.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form {
  width: 100%;
  margin: 20px 0;
}

.input input,
.input select {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #2d3748;
  font-size: 16px;
  padding: 10px 0px;
}

.input input:focus,
.input select:focus {
  border-bottom: 2px solid #5a9851;
}

/* bottom section */
.bottom-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bottom-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45px;
  background: linear-gradient(97deg, #c4d9b0 0%, #458c3a 100%);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.bottom-container .btn:hover {
  background: linear-gradient(97deg, #458c3a 0%, #c4d9b0 100%);
}

.bottom-container .cancel {
  background: #2d3748;
  opacity: 0.9;
}

.bottom-container .cancel:hover {
  background: #2d3748;
  opacity: 1;
}

.bottom-container .btn .fa {
  margin-right: 15px;
}

.Logo {
  width: 60px;
  height: 60px;
  float: right;
}

.bars {
  color: #f2f2f2;
  font-size: 24px;
}

/* Side menu*/
.side_menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side_menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.side_menu a {
  padding: 8px;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.side_menu a:hover,
.side_menu a:focus {
  color: #f1f1f1;
}

.side_menu .closebtn {
  position: absolute;
  right: 20px;
  font-size: 60px;
}

/*---*/
.page-title h3 {
  color: #2e5931;
  text-align: center;
}

.top-container,
.mid-container,
.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* footer */
.footer {
  background-color: #293340;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
}

.copyright {
  font-size: 14px;
  color: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */