/* dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  right: 1vh;
  top: 8vh;
  background-color: #f2f2f2;
  min-width: 130px;
  z-index: 1;
  min-height: 6vh;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* chating container */
.chating-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  display: none;
}

nav {
  background-color: #c4d9b0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  color: #293340;
  font-size: 18px;
  position: relative;
}

nav .fa-arrow-left {
  margin-right: 30px;
}

nav .circle-btn {
  position: absolute;
  right: 30px;
}

.messages {
  height: 80vh;
  padding: 10px 30px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.message {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  margin-bottom: 10px;
  float: left;
  background: #293340;
  border: 1px solid rgba(112, 124, 151, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
          box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
  border-radius: 6px;
  color: #f2f2f2;
}

.message.me {
  float: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #ffffff;
  border: 1px solid rgba(112, 124, 151, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
          box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
  border-radius: 6px;
  color: #293340;
}

form {
  height: 10vh;
}

.other {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.message-cont {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.inline-cont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.inline-cont.me {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.input-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.input-cont input {
  border: none;
  outline: none;
}

.input-cont input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.circle-btn {
  border: none;
  outline: none;
  -webkit-box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05), 4px 6px 10px rgba(42, 139, 242, 0.15);
          box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05), 4px 6px 10px rgba(42, 139, 242, 0.15);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  text-align: center;
}

.display .input-cont .circle-btn {
  background: linear-gradient(96.78deg, #c4d9b0 0%, #458c3a 100%);
  color: #f2f2f2;
}
/*# sourceMappingURL=usercChatsStyle.css.map */