* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* container  which containes the body of the page*/
.container {
    width: 100%;
    height: 100vh;
}

/* top nav bar */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 10vh;
}

.logo-container {
    flex: 3;
}

.logo-container img {
    width: 100px;
}

.user-info {
    text-align: center;
    border-right: 1px solid #c9ced6;
    padding: 0 30px;
}

.user-info h6 {
    color: #a6acbe;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-btn {
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    color: #c9ced6;
    cursor: pointer;
    margin: 0 30px 0 0;
}

/* main section */
main {
    height: 90vh;
    display: flex;
    background-color: #f2f2f2;
}

/* side bar */
.side-bar {
    height: 100%;
    background-color: #293340;
    width: 80px;
}
.nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
}
.nav-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.nav-item p {
    font-size: 14px;
}
.nav-item a {
    text-decoration: none;
    color: #969cba;
}
.nav-item .fa {
    margin-bottom: 10px;
}
.active {
    background-color: #f2f2f2;
    color: #458c3a;
    padding: 15px;
    border-radius: 10px;
}

/* main container */
.main-content {
    padding: 50px 70px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.top-container{
    flex: 1;
}
.mid-container {
    display: flex;
    width: 100%;
    flex: 1;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 350px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.circle-span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recycle-span {
    background-color: #713bdb0d;
    color: #458c3a;
}
.user-span {
    background-color: #c4d9b0;
    color: #2e5931;
}
.truck-span {
    background-color: #ff4c610d;
    color: #ff4c61;
}

.fa {
    font-size: 20px;
}

.description {
    color: #a6acbe;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 5;
}

.chart {
    flex: 1;
    margin-right: 100px;
}

.chart img {
    width: 100%;
}

.table {
    background: #ffffff;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 350px;
    flex: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 15px 0px;
}

tr:hover {
    background-color: #f5f5f5;
}
