<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle | Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../style/CustomerStyle/main.css">
    <link rel="stylesheet" href="../../style/CustomerStyle/usercChatsStyle.css">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>

    <!-- Authentication SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>

    <!-- Realtime Database SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-database.js"></script>
    <!-- Server cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="chating-container">
            <!-- Displayed chat -->
            <div class="display" id="display" data-bind="with: currentChat">
                <nav>
                    <i data-bind="click: $parent.goBack" class="fa fa-arrow-left" aria-hidden="true"></i>
                    <h4 data-bind="text: admin"></h4>
                    <button data-bind="click: $parent.openSideMenu" class="circle-btn" id="openBtn">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a data-bind="click: $parent.deleteMessages" href="#" id="deleteBtn">Delete messages</a>
                        <a data-bind="click: $parent.endChat" href="#" id="endBtn">End Chat</a>
                    </div>
                </nav>
                <ul class="messages" data-bind="foreach: messageList" id="messages">
                    <div class="message-cont">
                        <div data-bind="class: checkSender">
                            <li class="message" data-bind="text: content, class: checkSender"></li>
                        </div>
                    </div>
                </ul>
                <form data-bind="submit: $parent.sendMessage" id="form">
                    <div class="input-cont">
                        <input type="text" placeholder="Write a message" id="newMessage">
                        <button class="circle-btn" type="submit"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
            <div class="loader" id="loader"></div>
        </div>
    </div>
    <script src="../../scripts/libs/knockout-3.5.1.js"></script>
    <script src="../../scripts/firbaseConfig.js"></script>
    <script src="../../scripts/customer/customerChat.js"></script>
</body>


</html>