<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle | New Request</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../style/CustomerStyle/main.css">
    <link rel="stylesheet" href="../../style/CustomerStyle/newRequestStyle.css">

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5K-rEhowyN-DLAQ3eliQLIK1ego12Ff4&libraries=geometry,places&callback=initMap"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>

    <!-- Authentication SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>

    <!-- Realtime Database SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-database.js"></script>
    <!-- Server cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

</head>

<body>
    <div class="container">
        <!-- nav bar -->
        <div class="top-bar">
            <div class="bars" id="backBtn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="page-title">
                <h3>New Request</h3>
            </div>
            <div class="logo-container">
                <img class="Logo" src="../../image/tree-Logo.png">
            </div>
        </div>

        <!-- orders section -->
        <div class="form-container">
            <form class="form" id="form">
                <div class="top-container">
                    <div class="input inline">
                        <input type="date" id="date">
                        <select id="time">
                            <option value="none" selected disabled hidden>
                                Select pick-up time
                            </option>
                            <option value="08:00 AM">08:00 AM</option>
                            <option value="09:00 AM">09:00 AM</option>
                            <option value="10:00 AM">10:00 AM</option>
                            <option value="11:00 AM">11:00 AM</option>
                            <option value="12:00 PM">12:00 PM</option>
                            <option value="01:00 PM">01:00 PM</option>
                            <option value="02:00 PM">02:00 PM</option>
                            <option value="03:00 PM">03:00 PM</option>
                            <option value="04:00 PM">04:00 PM</option>
                            <option value="05:00 PM">05:00 PM</option>
                        </select>
                    </div>
                </div>
                <div class="mid-container">
                    <div class="input">
                        <select id="location">
                            <option value="saved">
                                Use the saved location
                            </option>
                            <option value="change">
                                Change location
                            </option>
                        </select>
                    </div>
                    <div class="input">
                        <select id="city">
                            <option value="none" selected disabled hidden>
                                Select city
                            </option>
                            <option value="Jeddah" id="Jeddah">Jeddah</option>
                            <option value="Riyadh" id="Riyadh">Riyadh</option>
                            <option value="Makkah" id="Makkah">Makkah</option>
                        </select>
                    </div>
                    <div id="map"></div>
                </div>
                <div class="bottom-container">
                    <button class="btn">
                        <i class="fa fa-send"></i>
                        <p>Submit</p>
                    </button>
                </div>
            </form>
            <div class="loader" id="loader"></div>
        </div>

        <!-- footer -->
        <div class="footer">
            <p class="copyright">Recycle@Copyright 2021 All Right Reserved.</p>
        </div>
    </div>
    <script src="../../scripts/firbaseConfig.js"></script>
    <script src="../../scripts/customer/newRequest.js"></script>
    <script>
    </script>
</body>

</html>