<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle | Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../style/CustomerStyle/main.css">
    <link rel="stylesheet" href="../../style/CustomerStyle/profileStyle.css">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>

    <!-- Authentication SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>

    <!-- Realtime Database SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-database.js"></script>
    <!-- Server cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>

<body>
    <div class="container">
        <!-- nav bar -->
        <div class="top-bar">
            <div class="bars" id="backBtn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="page-title">
                <h3>Profile</h3>
            </div>
            <div class="logo-container">
                <img class="Logo" src="../../image/tree-Logo.png">
            </div>
        </div>

        <!-- form section -->
        <div class="form-container">
            <form class="form" id="form">
                <div class="top-container">
                    <i class="fa fa-user-o"></i>
                </div>
                <div class="mid-container">
                    <div class="input">
                        <input type="text" id="name" placeholder="Name">
                    </div>
                    <div class="input" id="email-container">
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div class="input">
                        <input type="tel" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="bottom-container">
                    <button type="submit" class="save">
                        <i class="fa fa-floppy-o"></i>
                        <p class="saveIt"> Save changes</p>
                    </button>

                    <button type="button" class="cancel" id="cancelBtn">
                        <i class="fa fa-times-circle"></i>
                        <p class="cancelIt">Cacnel changes</p>
                    </button>
                </div>
            </form>
            <div class="loader" id="loader"></div>
        </div>

        <!-- footer -->
        <div class="footer">
            <p class="copyright">Recycle@Copyright 2021 All Right Reserved.</p>
        </div>
    </div>

    <script src="./scripts/firbaseConfig.js"></script>
    <script src="./scripts/customer/profile.js"></script>
    <script src="./scripts/registeration.js"></script>
</body>

</html>